h1{
    font-family:¡• È;
    color:#008080;
}
a{
    color:#FF0000;
    text-decoration:none;
}
n{
    color:#FF00FF;
    font:700;
    font-size:24px;
}
#p2{
    color:#009191;
}
#p1{
    font-size:50px;
}