/*样式*/
html,body,div,from,a,span,select{margin:0;padding:0;}
/*字体*/
.span1{font-size:15px;color:#99A3A5}
.span2{font-size:30px;}
a{text-decoration:none;}

/*底部背景*/
.bottonBackground{width:1350px;height:585px;margin:0 auto;}

/*表头栏*/
.formHeadColumn{width:1350px;height:79px;margin:0 auto;border-bottom:solid 1px #808080;margin-top:30px;}
/*帮助登录*/
.helpRegister{width:360px;height:79px;float:right;margin-right:100px;}
/*帮助*/
.help{width:110px;height:30px;display:inline-block;float:right;}
/*“下拉框”大小*/
.big{width:110px;height:30px;display:inline-block;position:absolute;}
/*图片2*/
.imagesP2{position:relative;top:6px;left:40px;background-color:transparent;}
/*图片1*/
.imagesP1{width:200px;height:65px;margin-left:100px;}

/*注册栏*/
.regiteredColumn{width:400px;height:485px;margin:20px auto;}
/*状态1*/
.status1{width:400px;height:50px;text-align:center;}
/*状态2*/
.status2{width:400px;height:50px;margin-top:10px;}
/*手机号*/
.input1{width:392px;height:44px;font-size:20px;}
/*状态3*/
.status3{width:400px;height:50px;margin-top:15px;}
/*验证码*/
.input2{width:180px;height:44px;font-size:20px;}
.input3{width:160px;height:50px;float:right;color:white;border-radius:5px;background-color:#57565F;font-size:20px;border:none;}
/*状态4*/
.status4{width:400px;height:50px;margin-top:10px;}
.input4{width:392px;height:44px;font-size:20px;}
/*状态5*/
.status5{width:400px;height:50px;margin-top:10px;}
.input5{width:392px;height:44px;font-size:20px;}
.status6{width:400px;height:50px;margin-top:10px;}
.span3{line-height:50px;}
.status7{width:400px;height:50px;margin-top:10px;}
.input7{width:400px;height:50px;font-size:20px;background-color:red;color:white;border:none;}
.status8{width:400px;height:30px;text-align:center;margin-top:10px;}
.span4{font-size:13px;line-height:30px;}
.status9{width:400px;height:30px;text-align:center;margin-top:0px;}
.span5{font-size:13px;line-height:30px;}