.a1{
    text-align:center;
    background-color:aqua;
    font-size:24px;
}
.a2{
    color:#FFA64D;
}
.a3{
    background-color:aqua;
}
.a4{
    background-color:blueviolet;
    color:red;
}
.a5{
    font-size:18px;
    font:700;
    font-family:¡• È;
}