.a01{
    background-image:url(images/background.jpg);
    background-size:552px 183px;
}
.b1{
    color:aqua;
    text-decoration:none;
}
.b2{
   color:red;
    font-size:20px;
}
.a02{
    background-color:aqua;
    text-align:center;
}
.a03{
    background-color:blueviolet;
}